 <a clrVerticalNavLink  routerLinkActive="active" routerLink="user/list-user" >
        <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
        user 
      </a>
      <a clrVerticalNavLink  routerLinkActive="active" routerLink="category/list-category" >
        <cds-icon clrVerticalNavIcon shape="bolt"></cds-icon>
        category
      </a>
      <a clrVerticalNavLink  routerLinkActive="active" routerLink="product" >
        <cds-icon clrVerticalNavIcon shape="sad-face"></cds-icon>
Product      </a>
      <a clrVerticalNavLink  routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="bug"></cds-icon>
        Grass
      </a>
      <a clrVerticalNavLink routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="shield"></cds-icon>
        Fighting
      </a>
      <a clrVerticalNavLink routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="certificate"></cds-icon>
        Credit
      </a>