
<clr-datagrid   [(clrDgSelected)]="selected" (clrDgRefresh)="getCategoryList()" (clrDgSelectedChange)="selectionChanged($event)"
>
  <clr-dg-action-bar>
    <div class="btn-group btn-primary">
      <button  class="btn" routerLink="/category/add-category">Add Category</button>
      <button   class="btn" [disabled]="selected.length!=1" (click)="update()">Edit</button>
  <button  class="btn" [disabled]="selected.length==0 "(click)="openAction()">Delete</button>

    
    </div>
    <div class="btn-group">
 
    </div>
  </clr-dg-action-bar>

  <clr-dg-column>User ID</clr-dg-column>
  <clr-dg-column>CategoryName</clr-dg-column>

  <clr-dg-row *clrDgItems="let category of dataCategory" [clrDgItem]="category" >
    <clr-dg-cell>{{category.id}}</clr-dg-cell>
    <clr-dg-cell>{{category.categoryName}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer></clr-dg-footer>
</clr-datagrid>

<app-category-delete *ngIf="open" [listeId]="toDeleted" (close)="closeAction()" (save)="saveAction()"></app-category-delete>